
body {
	font-family: PT Sans;
	margin: 0;
	background-image: url('../src/img/black.png');
	overflow-y: scroll;
}

ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#app {
	max-width: 1280px;
	margin: 0 auto;
}

header {
	max-width: 1280px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
	background-color: #fff;
}
.header-logo span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	font-family: Arial;
}
.header-logo {
	margin-left: 20px;
	display: flex;
	align-items: center;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
	min-height: 50px;
	background-color: #ff8261;
}
.menu li a {
	text-transform: uppercase;
	color: #fff;
	padding: 15px 45px;
	transition: .3s;
}
.menu li a:hover {
	background-color: #52cbf8;
}
.header-register .wrap {
	padding: 15px 0 15px 30px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	color: #a2aab5;
}
.header-register {
	margin-right: 20px;
}
.header-register .wrap span {
	margin: 0 10px;
}

footer {
	max-width: 1280px;
	margin: 0 auto;
	min-height: 385px;
	background-color: #4c515b;
}
.footer {
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer .footer-logo {
	flex-basis: 30%;
	display: flex;
	justify-content: center;
}
.footer .footer-logo span {
	text-transform: uppercase;
	font-size: 30px;
	margin-left: 20px;
}

.footer .footer-menu {
	flex-basis: 70%;
}

.footer .footer-menu nav {
	display: flex;
	justify-content: space-around;
}
.footer .footer-menu ul li a {
	text-transform: uppercase;
	color: #c0c0c0;
	transition: .3s;
}
.footer .footer-menu ul li a:hover {
	color: #000;
}
.footer .footer-menu ul li {
	padding: 7px 0;
}
.footer-menu nav ul h2 {
	color: #c0c0c0;
	font-family: Arial, sans-serif;
}